@font-face {
    font-family: 'DadHand';
    src: url(dadhand.ttf);
}

* {
    font-family: 'DadHand' !important;
    cursor: url(icons/cursor_default.png), auto;
}

body, html {
    font-size: 180%;
    background: url(icons/bg_wood.png);
    height: 100%;
}

.small-link {
  font-size: 70%;
}

#container {
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 50px;
    height: 100%;
    margin-top: 0;
}

#logo {
    max-width: 100%;
}

#box_b {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    z-index: 2;
}

#box {
    min-width: 50%;
    max-width: 80%;
    height: auto;
    color: #7F3618;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background: url(icons/bg_alert.png);
    border-radius: 17px;
    font-size: 36px;
    padding: 38px 45px 20px 45px;
    display: inline-block;
    z-index: 3;
}

a           { color: #7f3618; text-decoration: none; }
a:link      { color: #7f3618; text-decoration: none; }
a:visited   { color: #7f3618; text-decoration: none; }
a:active    { color: #ffffff; text-decoration: none; }
a:hover     { color: #ffffff; text-decoration: none; cursor: url(icons/cursor_pointer.png), pointer; }

button {
    width: 325px;
    height: 130px;
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
    background: url(icons/bg_button.png);
    border-radius: 12px;
    border-style: hidden;
    font-size: 75%;
    margin: 15px 15px 15px 15px;
    cursor: url(icons/cursor_pointer.png), pointer;
}

.small-button {
    width: 130px;
    height: 58px;
    font-size: 32px;
    padding: 0;
    line-height: 58px;
}

button:disabled {
    cursor: url(icons/cursor_wait.png), progress;
    opacity: 0.6;
}

#login {
    display: inline-block;
}

#wrapper {
    text-align: left;
    height: 80px;
    width: 600px;
    max-width: 100%;
    border-color: rgba(0,0,0,0.5);
    border-width: 4px;
    border-style: solid;
    border-top-style: hidden;
    border-right-style: hidden;
    background-color: none;
    border-radius: 16px;
    display: inline-block;
    padding-left: 35px;
}

#wrapper input {
    text-align: left;
    width: 340px;
    max-width: 60%;
    height: 100%;
    border-style: none;
    background: none;
    display: inline-block;
}

#wrapper button {
    text-align: center;
    color: white;
    height: 100%;
    width: 230px;
    max-width: 30%;
    float: right;
    border-style: none;
    background: url(icons/bg_button.png);
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    font-size: 75%;
    margin: 0;
}

#w-help {
    font-size: 50%;
    text-align: left;
}

.titolo {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

#tombolone {
    padding: 5px;
    color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
    background: url(icons/bg_button.png);
    border-radius: 12px;
    border-collapse: separate;
    border-spacing: 10px;
}

#client_nome {
    font-size: 75%;
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    border-style: hidden;
    height: 100px;
}

#client_cartella {
    display: inline-block;
    float: left;
}

#client_cartella table {
    border-spacing: 10px 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
    background: url(icons/bg_button.png);
}

table.cartella {
    color: white;
    text-align: center;
    border-style: hidden;
    border-spacing: 10px;
    border-radius: 12px;
    border-collapse: separate;
}

table.cartella td {
    width: 46px;
    height: 46px;
    font-size: 26px;
    text-align:  center;
    vertical-align: middle;
    color: white;
    border-radius: 50%;
    border: 1px solid #fff;
}

table.cartella td.estratto {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5), 0 3px 6px 0 rgba(0,0,0,0.4);
    color: #7F3618;
    background: url(icons/bg_number.png);
    border-style: hidden;
}

div#ultimi {
    margin: 40px 0 50px 0;
    display: inline-block;
}

div#ultimi div {
    width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5), 0 3px 6px 0 rgba(0,0,0,0.4);
    color: #7F3618;
    background: url(icons/bg_number.png);
    border-style: hidden;
    border-radius: 50%;
    display: inline-block;
    line-height: 80px;
}

div#ultimi div:first-child {
    width: 120px;
    height: 120px;
    font-size: 80px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5), 0 3px 6px 0 rgba(0,0,0,0.4);
    border-radius: 50%;
    line-height: 120px;
}

div#ultimi div:empty {
   display: none;
}

#utenti {
    font-size: 50%;
}

#utenti div {
    display: inline-block;
}

#utenti div div:first-child {
    color: white;
    font-size: 180%;
    display: block;
    margin: 20px 20px 0 20px;
}

table#informazioni {
    font-size: 65%;
    margin-top: 20px;
    border-spacing: 10px;
    border-collapse: separate;
}

table#informazioni td:first-child {
    color: white;
    text-align: right;
}

.premio {
    color: white;
    width: 60%;
}

table#vincitori {
    font-size: 65%;
    margin-top: 20px;
}

table#vincitori td {
    padding: 5px 10px 5px 10px;
}

.text-big {
    font-size: 150%;
}

.privato {
    color: #5F1600;
}

input {
    text-align: center;
    max-width: 100%;
    border-color: rgba(0,0,0,0.5);
    border-width: 4px;
    border-style: solid;
    background-color: rgba(0,0,0,0.1);
    border-radius: 16px;
    color: white;
}

::-webkit-input-placeholder { color: #fff; }
::-moz-placeholder { color: #fff; }
:-ms-input-placeholder { color: #fff; }
:-moz-placeholder { color: #fff; }
